<ion-header>
  <ion-toolbar>
    <ion-title>
      Cocktails
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let cocktail of cocktailsObservable | async as cocktails">
      <ion-thumbnail slot="start">
        <img [src]="cocktail.image_src || 'https://via.placeholder.com/50'" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{cocktail.name}}</h2>
        <p>{{cocktail.category}}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" [routerLink]="['/tabs/cocktails',cocktail.id]">Details</ion-button>
    </ion-item>
  </ion-list>
  <div padding-start padding-end>
    <ion-button expand="full" shape="round" (click)="openAddModal()">Cocktail hinzufügen</ion-button>
  </div>
</ion-content>