<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Zurück"></ion-back-button>
    </ion-buttons>
    <ion-title>{{cocktail?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <img [src]="cocktail?.image_src || 'https://via.placeholder.com/500'" />
  </div>
  <ion-grid>
    <ion-row *ngFor="let ci of ingredients">
      <ion-col>
        {{ci.ingredient.name}}
      </ion-col>
      <ion-col>
        {{formatAmount(ci)}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>