<ion-header>
  <ion-toolbar>
    <ion-title>
      Zutaten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let ingredient of ingredientsObservable | async as ingredients">
      {{ ingredient.name }}
    </ion-item>
  </ion-list>
  <div padding-start padding-end>
    <ion-button (click)="openAddModal()" expand="full" shape="round">Zutat hinzufügen</ion-button>
  </div>
</ion-content>