<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuration">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingredients">
      <ion-icon name="list"></ion-icon>
      <ion-label>Zutaten</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cocktails">
      <ion-icon name="list"></ion-icon>
      <ion-label>Cocktails</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
