<ion-header>
  <ion-toolbar>
    <ion-title>Zutat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input (input)="onInput(input.value)" #input></ion-input>
    </ion-item>
    <br>
    <ion-item *ngFor="let ingredient of ingredientsObservable | async as ingredients" (click)="selectIngredient(ingredient)">
      <ion-label>{{ingredient.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>