<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-img src="assets/bartender.png"></ion-img>
    <div class="btn-container">
      <ng-container *ngFor="let ingredient of ingredients; let i = index; let even = even;">
          <div class="btn-row" *ngIf="even">
              <ion-button (click)="chooseIngredient($event, i)" class="btn-round">
                  <ion-img [src]="ingredient?.image_src||'assets/pump.png'"></ion-img>
              </ion-button>
              <ion-button (click)="chooseIngredient($event, i+1)" class="btn-round">
                  <ion-img [src]="ingredients[i+1]?.image_src||'assets/pump.png'"></ion-img>
              </ion-button>
          </div>
      </ng-container>
    </div>
  </div>
  <div padding>
    <ion-button expand="block" shape="round">
      Speichern
    </ion-button>
  </div>
</ion-content>