.container {
    position: relative;
}

.btn-container {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.btn-round {
    height: 70px;
    width: 70px;
    --padding-start: 7px;
    --padding-end: 7px;
    --border-radius: 50%;
}
