<ion-header>
  <ion-toolbar>
    <ion-title>Zutat erstellen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-label class="label" position="floating">Name</ion-label>
      <ion-input [(ngModel)]="model.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label">Kategorie</ion-label>
      <ion-select [(ngModel)]="model.category" okText="Ok" cancelText="Abbrechen">
        <ion-select-option *ngFor="let category of categories">{{ category }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="label">Einheit</ion-label>
      <ion-select [(ngModel)]="model.unit" okText="Ok" cancelText="Abbrechen">
        <ion-select-option></ion-select-option>
        <ion-select-option *ngFor="let unit of units">{{ unit }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button (click)="submit()" expand="block">Erstellen</ion-button>
</ion-content>