<ion-header>
  <ion-toolbar>
    <ion-title>Cocktail erstellen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">Schließen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (submit)="submit()" #form="ngForm">
    <ion-list lines="full">
      <ion-item>
        <ion-label class="label" position="floating">Name</ion-label>
        <ion-input name="name" required [(ngModel)]="model.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="label">Kategorie</ion-label>
        <ion-select name="category" required [(ngModel)]="model.category" okText="Ok" cancelText="Abbrechen">
          <ion-select-option *ngFor="let category of categories">{{ category }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h2>Zutaten</h2>
    <ion-list lines="full">
      <ion-grid *ngFor="let ci of model.ingredients;index as i">
        <ion-row>
          <ion-col>
            <ion-label>{{ci.ingredient.name}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              Menge:
            </ion-label>
            <ion-input text-right type="number" name="amount" [(ngModel)]="model.ingredients[i].amount" [required]="ci.ingredient.unit"></ion-input>
            <ion-label>
              {{ci.ingredient.unit}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-button expand="block" fill="outline" (click)="addIngredient($event)">
      <ion-icon slot="start" name="add"></ion-icon>
      Zutat hinzufügen
    </ion-button>
    <br>

    <ion-button [disabled]="!form.valid||model.ingredients.length<2" type="submit" expand="block">Erstellen</ion-button>
  </form>
</ion-content>