ion-col {
    display: flex;
    justify-content: space-between;
}

ion-col ion-input {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 8px;
    --padding-end: 8px;
}

ion-col ion-input.ng-invalid {
    border-bottom: 1px solid red;
}
